---
import NestedTabsDemo from "../../components/NestedTabsDemo.tsx";
---

<html lang="en">
  <body>
    <NestedTabsDemo client:load />
    <script>
      import "@repo/ds/tabs/define";
    </script>
  </body>
</html>
